.color {
  background-color: rgba(130,142,72,0.8);
}

a {
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title {
  color: white;
  font-weight: bold;
  font-family: 'Kaushan Script', Helvetica, sans-serif;
  letter-spacing: 5px;
}

.cell {
  margin-bottom: 20px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) {
	body {
    background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) no-repeat center center fixed;
  }
}
